/* O GITHUB SIMPLESMENTE NÃO CARREGA MEU CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

/* ABAIXO DEFINIMOS A BARRA LATERAL */

.aside {
    background-color: rgb(57, 57, 58);
    border-right: 2px solid black;
    height: 100vh;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.asideContainer {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 1.5vw;
    font-weight: 600;
    color: lightgrey;
}

.btnNewAppointment {
    width: 85%;
    aspect-ratio: 16/5;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in;
}

.btnNewAppointment:hover {
    font-weight: 600;
}

/* ABAIXO DEFINIMOS O DROPDOWN PARA MODIFICAR MARCADORES */

.dropDownMarkUps {
    width: 100%;
    min-height: 3%;
    max-height: auto;
    border-top: 1px solid black;
    position: relative;
    transition: .3s ease-in-out;
}


.dropDownMarkUps:hover {
    background-color: rgb(45, 45, 46);
}

#seta {
    position: absolute;
    padding: 3%;
    box-shadow: 2px -2px 0 1px #fff inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    transition: .7s ease-in-out;
    position: absolute;
    right: 4%;
    top: 15px;
}

#checkboxHack {
    display: none;
}

.labelCheckboxHack {
    color: lightgrey;
    font-size: 1.2vw;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    left: 4%;
    top: 10px;
}

.labelCheckboxHack:hover{
    color: white;
}


#checkboxHack:checked~#seta {
    transform: rotate(135deg);
    margin-top: 0;
    transition: .3s ease-in-out;
}

.markUps {
    margin-top: 23%;
    height: 0;
    overflow-y: hidden;
    transition: .3s ease-in-out;
    background-color: rgb(59, 59, 59);
    display: block;
}

.circle {
    width: 11%;
    border-radius: 50%;
}

.red {
    background-color: rgb(230, 109, 109);
}

.blue {
    background-color: rgb(106, 106, 243);
}

.green {
    background-color: rgb(66, 180, 66);
}

.pink {
    background-color: #f860acb2;
}

.noWrap {
    /* CLASSE PRA INCLUIR TEXTO E A DEMONSTRAÇÃO DE COR DO MARCADOR NA MESMA LINHA */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: lightgrey;
    font-size: 2vh;
    font-weight: lighter;
}

.noWrap:hover {
    background-color: rgb(37, 37, 37);
    color: white;
}

#checkboxHack:checked~.markUps {
    height: 320%;
    padding-top: 7%;
    padding-bottom: 7%;
    border-bottom: none;
    background-color: transparent;
    transition: .3s ease-in-out;
}

.changable {
    cursor: pointer;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* ABAIXO, DEFINIMOS O PAINEL LATERAL DE AÇÕES */

.dropDownOptions {
    width: 100%;
    min-height: 6%;
    max-width: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.dropDownOptions:hover {
    background-color: rgb(45, 45, 46);
}

#setaOptions {
    position: absolute;
    padding: 3%;
    box-shadow: 2px -2px 0 1px #fff inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    transition: .7s ease-in-out;
    position: absolute;
    right: 4%;
    top: 15px;
}

#checkboxHackOptions {
    display: none;
}

.labelCheckboxHackOptions {
    color: lightgrey;
    font-size: 1.2vw;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    left: 4%;
    top: 10px;
}

.labelCheckboxHackOptions:hover{
    color: white;
}

#checkboxHackOptions:checked~#setaOptions {
    transform: rotate(135deg);
    margin-top: 0;
    transition: .3s ease-in-out;
}

.options {
    margin-top: 23%;
    height: 0;
    overflow-y: hidden;
    transition: .3s ease-in-out;
}

#checkboxHackOptions:checked~.options {
    height: 320%;
    padding-top: 7%;
    padding-bottom: 7%;
    transition: .3s ease-in-out;
}

.options p {
    cursor: pointer;
    width: 100%;
    line-height: 120%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2.5% 5%;
    color: lightgrey;
    font-size: 2vh;
    font-weight: lighter;
}

.options p:hover {
    background-color: rgb(37, 37, 37);
    color: white;
}



/* ABAIXO, DEFINIMOS SELETOR DE MESES */

.container {
    position: relative;
    width: 80%;
    margin: 2% 4%;
    overflow: hidden;
}

.currentMonth {
    z-index: 999;
    position: absolute;
    width: 14%;
    height: 10%;
    background-color: #fff;
    left: 49%;
    top: -9.2%;
    padding: 0 .5% .5% .5%;
    border-radius: 2vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0 1vh 1vh rgba(126, 125, 125, 0.233);
    transition: .3s ease-in-out;
}

.currentMonth:hover {
    top: -5%;
    transition: .3s ease-in-out;
}

.currentMonthText {
    margin-bottom: -2.5%;
    font-size: 180%;
    background-color: #fff;
    z-index: 2;
}

.setaPreviousMonth {
    padding: 1vh;
    box-shadow: 0.5vh -0.5vh 0 1px rgb(78, 78, 78) inset;
    border: solid transparent;
    border-width: 0 0 2% 2%;
    transform: rotate(45deg);
    cursor: pointer;
    margin-bottom: 1.5%;
}

.setaPreviousMonth:hover {
    box-shadow: 0.5vh -0.5vh 0 1px cornflowerblue inset;
}

.setaNextMonth {
    padding: 1vh;
    box-shadow: 0.5vh -0.5vh 0 1px rgb(78, 78, 78) inset;
    border: solid transparent;
    border-width: 0 0 2% 2%;
    transform: rotate(-135deg);
    cursor: pointer;
    margin-bottom: 1.5%;
}

.setaNextMonth:hover {
    box-shadow: 0.5vh -0.5vh 0 1px cornflowerblue inset;
}

.setaShowMonthSelector {
    z-index: -1;
    position: fixed;
    top: 1%;
    left: 55.5%;
    padding: 1vh;
    box-shadow: 0.5vh -0.5vh 0 1px rgba(100, 148, 237, 0.671) inset;
    border: solid transparent;
    border-width: 0 0 2% 2%;
    transform: rotate(-45deg);
    animation: upAndDown .9s ease-in infinite forwards;
}


@keyframes upAndDown {
    0% {
        top: 1%;
    }

    50% {
        top: 1.3%;
    }

    100% {
        top: 1%;
    }
}

/* ABAIXO DEFINIMOS O NOSSO CONTAINER, ONDE REALMENTE FICA O CALENDÁRIO */


.calendar {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(7, 14.3%);
    grid-auto-rows: minmax(16.66%, 20%);
    padding: 0.3% 0.3% 0 0.3%;
    margin-top: 2%;
}

.day {
    background-color: #fff;
    min-height: 95%;
    max-height: 95%;
    margin-left: 3%;
    border: solid .5px #d8d6d6;
    border-radius: 1vh;
    box-shadow: 0 1vh 1vh rgba(187, 187, 187, 0.432);
    transition: .1s ease-in-out;
    padding-left: 2%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: visible;
}

.day::-webkit-scrollbar {
    display: none;
}

.day:hover {
    height: 105%;
    width: 103.5%;
    transform: translate(-3.5%, -2%);
}

.appointmentBox{
    padding: 0;
    margin: 0;
    position: relative;
}

.appointment {
    min-width: 0%;
    max-width: 95%;
    font-size: 85%;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
    border-radius: 5px;
    transition: 2s ease-in-out;
    padding: 0.5% 2%;
    margin-bottom: 1%;
    color: white;
    cursor: pointer;
}

.appointment:hover>p {
    display: inline-block;
    position: relative;
    animation: 3s linear 0s infinite alternate move;
}

@keyframes move {

    0%,
    25% {
        transform: translateX(0%);
        left: 0%;
    }

    75%,
    100% {
        transform: translateX(-100%);
        left: 100%;
    }
}

/* .animated {
    overflow: hidden;
    width: 11rem;
    white-space: nowrap;
  }
  
  .animated > * {
    display: inline-block;
    position: relative;
    animation: 3s linear 0s infinite alternate move;
  }
  
  .animated > *.min {
    min-width: 100%;
  } */




.whiteSpace {
    height: 95%;
}

.dayInTheWeek {
    transform: translateY(100%);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dayInTheWeek p {
    width: 15%;
    color: rgb(67, 120, 219);
    font-weight: 600;
    display: flex;
    justify-content: center;
}

/* LEGENDAS */

.markUpSubtitle {
    padding: 1.3%;
    padding-left: 1%;
    padding-right: 1%;
    width: fit-content;
    border-radius: 1vh;
    white-space: nowrap;
    margin-left: 2%;
    display: flex;
    align-items: center;
    color: white;
}

.subtitlesContainer {
    position: absolute;
    z-index: 2;
    border-radius: 2vh;
    background-color: #fff;
    width: 82%;
    height: 20%;
    bottom: -7%;
    left: 15%;
    padding: 1%;
    box-shadow: 0 -1vh 1vh rgba(126, 125, 125, 0.233);
}

.noWrapMarkUps {
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 12%;
}



/* DEFININDO DISPLAYS FLUTUANTES */

.floaterDiv {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: #fff;
    box-shadow: 0vh 0vh 1vh rgb(114, 113, 113);
    border-radius: .5vh;
    bottom: 30%;
    left: -21%;
    scale: (0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
}

.active {
    left: 13%;
    scale: (1);
    transition: all 0.2s ease-in-out;
}

.closeButton {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 7%;
    padding-top: -2%;
    font-weight: 600;
    font-size: 90%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#ChangingMarkUps {
    width: 60%;
    height: 15%;
    border: none;
    background-color: #d4d3d3;
    border-radius: 1vh;
    padding-left: .3vw;
}

#ChangingMarkUps::placeholder {
    color: #fff;
    font-weight: 400;
}

#ChangingMarkUps:focus {
    outline: none;
}

.btnChangingMarkUps {
    border: none;
    border-radius: 1vh;
    background-color: rgb(230, 109, 109);
    color: #fff;
    font-weight: 400;
    padding: 1vh;
    cursor: pointer;
    width: 30%;
    transition: .1s ease-in;
}

.btnChangingMarkUps:hover {
    font-weight: 600;
}

.fadeOutContainer {
    z-index: 2;
    background-color: rgba(107, 107, 107, 0.534);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 112%;
    transition-delay: .4s;
}

.fadeOutContainerActive {
    left: 12%;
    transition-delay: 0s;
}

.newApointmentDiv {
    background-color: #FFF;
    border-radius: 1vh;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 135%;
    z-index: 3;
    box-shadow: 0 1vh 2vh rgba(116, 115, 115, 0.719);
    transition: .2s ease-in-out;
}


/* ABAIXO, DEFINIMOS OS ELEMENTES DENTRO DA CAIXA PARA CRIAR COMPROMISSO, OS QUE FICARÃO INALTERADOS */
.newApointmentDivActive {
    left: 35%;
}

.newApointmentDiv:first-child {
    position: relative;
    width: 100%;
    height: 100%;
}

.apointmentCloseButton {
    position: absolute;
    font-weight: 600;
    font-size: 90%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    left: 97%;
    top: 1%;
}

.newApointmentDiv h4 {
    position: absolute;
    color: cornflowerblue;
    width: fit-content;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.setaPreviousStep {
    padding: 1vh;
    box-shadow: 0.5vh -0.5vh 0 1px rgb(78, 78, 78) inset;
    border: solid transparent;
    border-width: 0 0 1% 1%;
    transform: rotate(45deg);
    cursor: pointer;
    position: absolute;
    top: 48%;
    left: 1%;
    background-color: transparent;
    display: none;
}


.setaPreviousStep:hover {
    box-shadow: 0.5vh -0.5vh 0 1px cornflowerblue inset;
}

.setaNextStep {
    padding: 1vh;
    box-shadow: 0.5vh -0.5vh 0 1px rgb(78, 78, 78) inset;
    border: solid transparent;
    border-width: 0 0 1% 1%;
    transform: rotate(-135deg);
    cursor: pointer;
    position: absolute;
    top: 48%;
    right: 1%;
    background-color: transparent;
    display: none;
}

.setaNextStep:hover {
    box-shadow: 0.5vh -0.5vh 0 1px cornflowerblue inset;
}

.newApointmentMain {
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}


/* ABAIXO, DEFINIMOS OS 3 PASSOS PARA CRIAR UM COMPROMISSO */
.sectionOne {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 150%;
    padding-top: 5%;
    transition: .7s ease-in-out;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 200%;
    transition: .7s ease-in-out;
}

.sectionThree {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 250%;
    transition: .7s ease-in-out;
}

.sectionActive {
    right: 0;
}



/* ABAIXO É DEFINIDO O BOTÃO DE SELECIONAR O MÊS AO CRIAR COMPROMISSO */
.mesesNewApointmentDiv {
    height: 20%;
    width: 20%;
    border: 2px solid rgb(189, 188, 188);
    border-radius: 5px;
}

#mesesNewApointment {
    display: none;

}

.labelMesesNewApointment {
    width: 100%;
    height: 100%;
    font-size: 130%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
}

.labelMesesNewApointment:hover {
    color: cornflowerblue;
    transition: .2s ease-in-out;
}

.mesesNewApointmentSelect {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 150%;
    transition: .1s ease-in-out;
}

.mesesNewApointmentSelectAtive {
    top: 40%;
    transition: .1s ease-in-out;
}

.btnCloseMonthSelector {
    border: none;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    width: 98%;
    display: flex;
    justify-content: end;
    padding-left: 20%;
    margin-top: 0;
}

.monthSelectorContainer {
    display: grid;
    grid-template-columns: repeat(4, 17%);
    gap: 5%;
    justify-content: center;
}

.monthSelectorElement {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(189, 188, 188);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: .2s ease-in-out;
}

.monthSelectorElement:hover {
    color: cornflowerblue;
    transition: .2s ease-in-out;
}




/* ABAIXO É DEFINIDO O BOTÃO PARA SELECIONAR O DIA AO CRIAR COMPROMISSO */
.daysNewApointmentDiv {
    width: 20%;
    height: 20%;
    border: 2px solid rgb(189, 188, 188);
    border-radius: 5px;
}


#daysNewApointment {
    display: none;

}

.labelDaysNewApointment {
    width: 100%;
    height: 100%;
    font-size: 130%;
    cursor: pointer;
    text-align: center;
    line-height: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelDaysNewApointment:hover {
    color: cornflowerblue;
    transition: .2s ease-in-out;
}

.labelDaysNewApointment p {
    width: fit-content;
}

.daysNewApointmentSelect {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 150%;
    transition: .1s ease-in-out;
}

.daysNewApointmentSelectAtive {
    top: 33%;
    transition: .1s ease-in-out;
}

.btnCloseDaySelector {
    border: none;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    width: 98%;
    display: flex;
    justify-content: end;
    padding-left: 20%;
    margin-top: 0;
}

.daySelectorContainer {
    display: grid;
    grid-template-columns: repeat(7, 12%);
    justify-content: center;
    width: 80%;
    margin-left: 12%;
}


/* ABAIXO, FAZEMOS A ESTILIZAÇÃO DOS ELEMENTOS NO GRID PARA SELECIONAR O DIA PARA INCLUIR UM COMPROMISSO */
.gridsWhiteSpace {
    height: 90%;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.selectorsDay {
    height: 90%;
    width: 70%;
    border: 2px solid rgb(189, 188, 188);
    border-radius: 5px;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selectorsDay:hover {
    color: cornflowerblue;
    transition: .2s ease-in-out;
}

.gridSelectorDayInTheWeek {
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 74%;
    margin-left: 13%;
}

.gridSelectorDayInTheWeek p {
    font-size: 70%;
    color: cornflowerblue;
}

/* ABAIXO FAZEMOS A SEÇÃO DE SELECIONAR O HORÁRIO DE SEU COMPROMISSO */

.timeSelectorGrid {
    width: 100%;
    height: 50%;
    transform: translateY(40%);
    display: grid;
    grid-template-columns: repeat(4, 17%);
    gap: 5%;
    justify-content: center;
}

.divTittle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.timeSelectorElement {
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(189, 188, 188);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: .2s ease-in-out;
}

.timeSelectorElement:hover {
    color: cornflowerblue;
    transition: .2s ease-in-out;
}

.timeSelectorElement:disabled {
    background-color: rgba(189, 188, 188, 0.562);
    color: rgb(189, 188, 188);
}

.timeSelectorElement:disabled:hover {
    cursor: not-allowed;
}

.timeSelectorElementActive {
    border: 2px solid cornflowerblue;
    font-weight: bold;
}

/* AQUI, A SEÇÃO DE SELEÇÃO DE MARCADOR E TEXTO */

.sectionThreeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.divInputText {
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
}

.inputSelectedText:empty {
    width: 15%;
    transition: .7s ease-in-out;
}

.inputSelectedText {
    width: 80%;
    height: 120%;
    border: none;
    background-color: rgba(128, 169, 245, 0.664);
    font: bold 12pt black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 1%;
}

.inputSelectedText::placeholder {
    color: whitesmoke;
}

.inputSelectedText:focus {
    width: 80%;
    outline: cornflowerblue 2px solid;
    transition: .7s ease-in-out;
}

.marksUpSelectBox {
    width: 100%;
    padding: 0 27.5%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
}

.circleSelectMarkUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: .5 ease-in;
}

.checkedIcon{
    width: 60%;
}

.markUpSelectedCircle {
    transform: scale(1.3);
    box-shadow: 0 1vh 5px rgba(155, 154, 154, 0.452);
    transition: .7 ease-in-out;
}

.fa-solid{
    background-color: transparent;
    color: black;
}

.divNewAppointmentButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.newAppointmentButton {
    width: 20%;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    height: 220%;
    font: bold 150% inherit;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out
}

.newAppointmentButton:hover {
    background-color: rgba(100, 148, 237, 0.781);
    transition: .3s ease-in-out
}

/* ABAIXO, FAZERMOS A BOX PARA ALTERAÇÕES NO COMPROMISSO JÁ INCLUSO */

.changeAppointmentBox{
    position: absolute;
    background-color: transparent;
    width: 70%;
    height: 100%;
    top: -80%;
    left: 30%;
    border-radius: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: visible;
}

.changeAppointmentOption{
    width: 30%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    color: rgb(49, 204, 49);
    cursor: pointer;
    transition: .3 ease;
}

.changeAppointmentOption:hover{
    background-color: rgba(211, 211, 211, 0.63);
    transition: .3 ease;
}